:root {
  /* PRIMITIVE TOKENS */

  /* 
    --colors-black: #000000;
  --colors-blue-50: #f7f9ff;
  --colors-blue-500: #1da1f2;
  --colors-blue-600: #178ff5;
  --colors-gray-200: #e1e4f0;
  --colors-gray-400: #aeb3cb;
  --colors-gray-600: #848bab;
  --colors-gray-650: #63687d;
  --colors-gray-900: #20222f;
  --colors-gray-950: #1d1f29;
  --colors-green-500: #1eb589;
  --colors-navy-50: #f1f3fa;
  --colors-navy-900: #333a55;
  --colors-navy-950: #252b42;
  --colors-red-500: #dc414c;
  --colors-red-700: #c4032b;
  --colors-white: #ffffff;
  */

  /* Typography */
  --ff-sans: "Inter", system-ui, -apple-system, sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-14: 14px;

  /* Social Colors */
  --color-green-500: hsl(163, 72%, 41%);
  --color-red-500: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-youtube: hsl(348, 97%, 39%);

  /* Neutral Colors */
  --color-white: #ffffff;
  --color-gray-400: #aeb3cb;
  --color-gray-650: #63687e;
  --color-gray-900: #20222F;
  --color-gray-950: #1e202a;
  --color-navy-50: #f0f2fa;
  --color-navy-900: #333a55;
  --color-navy-950: #252a41;
  --color-blue-50: #f5f7ff;

  /* Gradients */
  --gradient-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(5, 77%, 71%),
    hsl(329, 70%, 58%)
  );
  --gradient-toggle-dark: linear-gradient(
    to right,
    hsl(210, 79%, 56%),
    hsl(146, 68%, 55%)
  );

  /* Spacing */
    --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
}

/* SEMANTIC TOKENS */

/* Dark Theme Mode (System Preference) */
@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg: var(--color-gray-950);
    --theme-bg-pattern: var(--color-gray-900);
    --theme-bg-card: var(--color-navy-950);

    --theme-text-primary: var(--color-white);
    --theme-text-secondary: var(--color-gray-400);

    --theme-toggle: var(--gradient-toggle-dark);
  }
}

/* Dark Theme Mode - Default */
:root,
[data-theme="dark"] {
  --theme-bg: var(--color-gray-950);
  --theme-bg-pattern: var(--color-gray-900);
  --theme-bg-card: var(--color-navy-950);

  --theme-text-primary: var(--color-white);
  --theme-text-secondary: var(--color-gray-400);

  --theme-toggle: var(--gradient-toggle-dark);
}

/* Light Theme */
[data-theme="light"] {
  --theme-bg: var(--color-white);
  --theme-bg-pattern: var(--color-blue-50);
  --theme-bg-card: var(--color-navy-50);

  --theme-text-primary: var(--color-gray-950);
  --theme-text-secondary: var(--color-gray-650);

  --theme-toggle: var(--color-gray-400);
}

/* Styles */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* header */

header {
  background-color: var(--theme-bg-pattern);
  color: var(--theme-text-primary);
}

.logo {
  font-size: 1.75rem;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-5 {
  color: var(--theme-text-secondary);
  font-size: 0.875rem;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 700;
}

.header-container {
  margin: 0px var(--spacing-300);
  padding: var(--spacing-300) 0px;
  border-bottom: 1px solid var(--color-navy-900);
}

/* dark mode */

.dark-mode-container {
  margin: var(--spacing-300);

}

.dark-mode-toggler {
  background-image: var(--gradient-toggle-dark);
  padding: 3px;
  width: 50px;
  border-radius: 12px;
  cursor: pointer;
}

.dark-mode-knob {
  height: 18px;
  width: 18px;
  background-color: var(--color-navy-950);
  border-radius: 100%;
  transition: all ease 0.2s;
}
